body{
    background: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.container {
    margin: 0 auto;
    min-width: auto;
    width: 100%;
    text-align: left;
    color: #0077ff;
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', sans-serif;

}

form {
    outline: 0;
    height: 36px;
    margin-top: 5%;
    
}

input[type="text"] {
    outline: 0;
    width: 55%;
    height: 32px;
    border: 3px solid #0077ff;
    font-size: 18px;
    font-weight: normal;
    padding-left: 10px;
}

.add {
    outline: 0;
    width: 36px;
    height: 36px;
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 100%;
    cursor: pointer;
    background-color: #0077ff;
}

ul {
    padding: 0;
    text-align: left;
    list-style: none;
}

hr {
    border-bottom: 0;
    margin: 15px 0;
}

input[type="checkbox"] {
    width: 30px;
}

.remove {
    float: right;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
}
